* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}


a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3{
  font-family: 'Roboto Slab', serif;
}

/*haus*/

header {
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 100%;
  min-height: 750px;
  background: transparent url(bg.jpg) no-repeat fixed;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
}

.card__heading{
  display: flex;
  flex-direction: column;
}


.button__buy{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.button__buy> .button{
  padding: 15px 5px 15px 5px;
  font-size: 2em;
  max-width: 256px;
  width: 100%;
  color: #eee;
  background-color: #666;
  border-radius: 3px;
  border: 1px solid;
  border-color: #666;
  cursor: pointer;
  transition: background-color 500ms ease;
  margin-bottom: 5em;
  animation: 3s ease-in 0s normal forwards 1 three;
}
@keyframes three {
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }}

.button:hover{
  background-color: #333;
}

.header--three {
  margin-top: 240px;
  font-weight: 600;
  margin-left: 96px;
  font-size: 2.5em;
  animation: 1s ease-in 0s normal forwards 1 one;
}
@keyframes one{
  0%{ opacity: 0;}
  66%{ opacity: 0;}
  100%{ opacity: 1;}
}

.header--one {
  font-weight: bold;
  font-size: 6em;
  animation: 2s ease-in 0s normal forwards 1 two;
}
@keyframes two {
  0%{ opacity: 0;}
  66%{ opacity: 0;}
  100%{ opacity: 1;}
}

/* valmynd */

ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    font-family: 'Roboto Slab', serif;
}

a {
  color: white;
  font-size: 1em;
}

.valmynd {
  display: flex;
  flex-wrap: nowrap;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 31.5px;
  margin-left: 31.5px;
}

.ValA {
  font-size: 24px;
  margin-top: 10px;
  margin-right: auto;
  font-weight: bold;
}

.ValB>.um {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 40px;
  width: 70px;
  padding-top: 15px;
  margin-right: -35px;
}

.ValC>.button {
  font-size: 16px;
  height: 40px;
  width: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 18px;
  background-color: grey;
  border: 1px solid;
  border-color: grey;
  border-radius: 5px;
}

.ValC>.button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75);
  transition-duration: 500ms;
}

/* Main */

.row{
  padding: 0px 30px;
  margin-top: 200px;
  display: flex;
  margin-bottom: 300px;
}

.col-6{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
}

.img1{
  margin-right: 8px;
  height: 30px;
  width: 30px;
}

.img2{
  width: 100%;
  float: right;
}

.xe{
  margin-top:-80px;
  display: flex;
 }

/* caldlist */

.cardlist{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 80px 0px;
}

.card{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  height: 100%;
}

.card__img{
  border-radius: 50%;
}

.card__content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__heading1{
  margin: 20px 0px;
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
}

.card__text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__text1{
  font-size: 18px;
  font-weight: bold;
}

.card__text2{
  font-size: 14px;
}

.takki__kaupa{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button__kaupa>.button{
  padding: 12px 5px 12px 5px;
  font-size: 2em;
  width: 180px;
  color: #eee;
  background-color: #666;
  border-radius: 3px;
  border: 1px solid;
  border-color: #666;
  cursor: pointer;
  margin: 20px 0px 80px 0px;
  transition: background-color 500ms ease;
}

.button__kaupa>.button:hover{
  background-color: #333;
}

/*fótur*/

  .footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background-color: #333;
  font-size: 12px;
  color: #eee;
}

.footer1{
  padding: 20px;
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: space-around;
}

.footer__one{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.footer2{
  border-top: 2px solid;
  border-color: #7e7e7e;
  padding: 20px;
  display: flex;
  justify-content: center;
  color: #7e7e7e;
  margin: 10px;
}
