
/* ódýrt (en ekki gott!) reset á margin og padding á element sem má nota */
* {
  margin: 0;
  padding: 0;
}

/* setjum box-sizing: border-box; á allt */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/** meginmál **/

body {
  font-family: 'Raleway', sans-serif;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}

a {
  color: #333;
  text-decoration: none;
}

/** fyrirsagnir **/

h1,
h2,
h3 {
  font-family: 'Droid Serif', serif;
}

/** haus **/

header {
  display: flex;
  flex-direction: column;

  margin-bottom: 2em;
  padding: 2em;

  width: 100%;
  min-height: 500px;

  background: transparent url(bg.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
}

header .content {
  margin: auto;
}

header h1 {
  font-size: 6em;
  text-shadow: 3px 3px 0px rgba(255, 255, 255, 1);
}

header h2 {
  font-size: 4em;
  font-style: italic;
  text-shadow: 3px 3px 0px rgba(255, 255, 255, 1);
}

/** meginmál **/

main {
  margin: 0 auto;
  padding: 2em;
  width: 100%;
  max-width: 1200px;

  border-bottom: 2px solid #999;
}

/** valmynd **/
